body {
  margin: 0;
}

.map {
  position: relative;
  overflow: hidden;
  display: block;
}

.layersDiv {
  position: absolute;
}

.tile {
  position: absolute;
  width: 256px;
  height: 256px;
  stroke: #000;
}

.path {
  fill: none;
  stroke: #000;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.info {
  background: #fff;
  padding: 5px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.building {
  stroke: #f44;
  fill: #fcc;
}

.building-hover {
  fill: #f99;
}

.water {
  stroke: #00f;
}

.county {
  stroke: #0f0;
  stroke-width: 5px;
  opacity: .5;
}

.county-hover {
  fill: #9f9;
}

.road {
  stroke: #585;
}

/* HPMS roads */
.type-1 {
  stroke-width: 5px;
}

.type-2 {
  stroke-width: 4px;
}

.type-3 {
  stroke-width: 3px;
}

.type-4 {
  stroke-width: 2px;
}

.type-5 {
  stroke-width: 1px;
}

.type-6 {
  stroke-width: 1px;
}

.type-7 {
  stroke-width: 1px;
}